IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'Tbl_Exam_Type'
    AND COLUMN_NAME = 'Active'
)
BEGIN
    ALTER TABLE [dbo].[Tbl_Exam_Type]
    ADD [Active] BIGINT NOT NULL DEFAULT 0;
END
