IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'Tbl_Visa_ISSO'
    AND COLUMN_NAME = 'Reject_Remark'
)
BEGIN
    ALTER TABLE [dbo].[Tbl_Visa_ISSO]
    ADD [Reject_Remark] NVARCHAR(MAX);
END
