-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Scholarship_Details]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Tbl_Scholarship_Details](
	[Scholarship_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Candidate_Id] [bigint] NULL,
	[Scholarship_Name] [varchar](max) NULL,
	[Scholarship_Remarks] [varchar](max) NULL,
	[Created_Date] [datetime] NULL,
	[Updated_date] [datetime] NULL,
	[Scholarship_Del_Status] [bit] NULL,
CONSTRAINT [PK_Tbl_Scholarship_Details] PRIMARY KEY CLUSTERED 
(
	[Scholarship_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

