-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Activity_Log]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Activity_Log](
		[ID] [bigint] IDENTITY(1,1) NOT NULL,
		[Student_Id] [bigint] NULL,
		[Createdby] [bigint] NULL,
		[DateCreated] [varchar](50) NULL,
		[Descriptions] [varchar](max) NULL,
		[Module] [varchar](50) NULL,
		[Deptid] [bigint] NULL,
		[Del_Status] [bigint] NULL,
		CONSTRAINT [PK_Activity_Log] PRIMARY KEY CLUSTERED 
		(
		[ID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
		) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

