-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_SourceInfo]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Tbl_SourceInfo](
	[SourceID] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [varchar](255) NOT NULL,
	[ShowcaseInOnlineApp] [varchar](255) NULL,
	[DeleteStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

