-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Candidate_Personal_Det]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Tbl_Candidate_Personal_Det](
	[Candidate_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdentificationNo] [varchar](500) NULL,
	[Candidate_Fname] [varchar](max) NULL,
	[Candidate_Mname] [varchar](50) NULL,
	[Candidate_Lname] [varchar](500) NULL,
	[Candidate_Gender] [varchar](10) NULL,
	[Candidate_Dob] [datetime] NULL,
	[Candidate_PlaceOfBirth] [varchar](100) NULL,
	[Candidate_Nationality] [varchar](100) NULL,
	[Candidate_State] [varchar](100) NULL,
	[candidate_city] [varchar](100) NULL,
	[Religion] [varchar](100) NULL,
	[Caste] [varchar](100) NULL,
	[Diocese] [varchar](100) NULL,
	[Parish] [varchar](100) NULL,
	[ApplicationCategory] [varchar](100) NULL,
	[Candidate_Category] [varchar](100) NULL,
	[Candidate_FamilyIncome] [varchar](50) NULL,
	[Candidate_Img] [varchar](max) NULL,
	[Candidate_DelStatus] [bit] NULL,
	[Initial_Application_Id] [bigint] NULL,
	[New_Admission_Id] [bigint] NULL,
	[AdharNumber] [varchar](30) NULL,
	[Online_OfflineStatus] [bit] NULL,
	[AdmissionType] [varchar](100) NULL,
	[RegDate] [datetime] NULL,
	[OldICPassport] [varchar](50) NULL,
	[Salutation] [varchar](50) NULL,
	[Campus] [varchar](100) NULL,
	[TypeOfStudent] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[CounselorCampus] [varchar](50) NULL,
	[CounselorEmployee_id] [bigint] NULL,
	[AgentName] [varchar](50) NULL,
	[SalesStudentICNo] [varchar](50) NULL,
	[SalesStudentName] [varchar](50) NULL,
	[SalesOrganizationName] [varchar](50) NULL,
	[SalesHRName] [varchar](50) NULL,
	[EnrollBy] [varchar](500) NULL,
	[CounselorName] [varchar](50) NULL,
	[SalesLeadName] [varchar](50) NULL,
	[Active_Status] [varchar](50) NULL,
	[Race] [varchar](50) NULL,
	[IDMatrixNo] [varchar](50) NULL,
	[Sponsorship] [varchar](50) NULL,
	[Visa] [varchar](200) NULL,
	[VisaFrom] [datetime] NULL,
	[VisaTo] [datetime] NULL,
	[Passport] [varchar](200) NULL,
	[PassportFrom] [varchar](200) NULL,
	[PassportDate] [varchar](200) NULL,
	[Insurance_detail] [varchar](200) NULL,
	[Agent_ID] [bigint] NULL,
	[Residing_Country] [varchar](50) NULL,
	[Hostel_Required] [varchar](50) NULL,
	[Room_Type] [varchar](100) NULL,
	[Scolorship_Name] [varchar](50) NULL,
	[Scolorship_Remark] [varchar](max) NULL,
	[Bh1M_Doc_Name] [varchar](200) NULL,
	[Disability_Doc_name] [varchar](200) NULL,
	[ApplicationStatus] [varchar](50) NULL,
	[Option2] [bigint] NULL,
	[Option3] [bigint] NULL,
	[FeeStatus] [varchar](50) NULL,
	[Candidate_Marital_Status] [varchar](max) NULL,
	[Address_Chkbox_Status] [bit] NULL,
	[Disability_Chkbox_Status] [bit] NULL,
	[Disability_Type] [varchar](max) NULL,
	[BR1M_Status] [bit] NULL,
	[Mode_Of_Study] [varchar](max) NULL,
	[Edit_status] [bit] NULL,
	[Edit_request] [bit] NULL,
	[Display_Status] [varchar](max) NULL,
	[Enquiry_From] [varchar](max) NULL,
	[Candidate_Hereaboutus] [varchar](max) NULL,
	[bankid1] [bigint] NULL,
	[bankaccountno1] [varchar](50) NULL,
	[bankid2] [bigint] NULL,
	[bankaccountno2] [varchar](200) NULL,
	[billoutstanding] [decimal](18, 2) NULL,
	[sponsor] [bigint] NULL,
	[Editable] [bit] NULL,
	[Invoice_Status] [varchar](max) NULL,
	[Payment_Request_Status] [varchar](max) NULL,
	[surname] [varchar](500) NULL,
	[create_date] [datetime] NULL,
	[active] [int] NULL,
	[LastUpdate] [datetime] NULL,
	[SourceofInformation] [varchar](max) NULL,
	[ApplicationStage] [varchar](200) NULL,
	[Edit_request_remark] [varchar](max) NULL,
	[CouncelloAttendedLastDate] [date] NULL,
	[recruitedby_other] [varchar](max) NULL,
	[sourceplace] [varchar](max) NULL,
	[barracuda_state] [varchar](max) NULL,
	[barracuda_city] [varchar](max) NULL,
	[documentcomplete] [bigint] NULL,
	[parallelprogrammeid] [bigint] NULL,
	[Event_Id] [bigint] NULL,
	[InvDue] [decimal](18, 2) NULL,
	[ExtraRemarks] [varchar](max) NULL,
	[PreactivateFlag] [varchar](50) NULL,
	[Candidate_Signature_Img] [varchar](max) NULL,
	[EditDisable] [nvarchar](50) NULL,
	[Medical_Closure] [varchar](10) NULL,
	[Type_ofcomment] [varchar](100) NULL,
	[VisaAvailable] [varchar](50) NULL,
	[VisaType] [varchar](50) NULL,
	[SocialVisaType] [varchar](50) NULL,
	[PassRefNo] [varchar](50) NULL,
	[VisaExpDate] [datetime] NULL,
	[IsCountryRefused] [varchar](50) NULL,
	[IsConvicted] [varchar](50) NULL,
	[IsProhibited] [varchar](50) NULL,
	[IsEnterWithDiffPass] [varchar](50) NULL,
	[KnownBy] [varchar](50) NULL,
	[KnownByAdName] [varchar](50) NULL,
	[KnownByOthersName] [varchar](50) NULL,
	[PrevProgrammeName] [varchar](500) NULL,
	[PrevInstitution] [varchar](500) NULL,
	[PrevCourseDuration] [varchar](50) NULL,
	[MethodOfCommunication] [varchar](500) NULL,
	[CurrentGrade] [varchar](500) NULL,
	[PresentSchoolName] [varchar](500) NULL,
	[PastSurgeries] [varchar](500) NULL,
	[PastMedicalHistory] [varchar](500) NULL,
	[FamilyDoctorName] [varchar](500) NULL,
	[FamilyDoctorAddress] [varchar](500) NULL,
	[Allergy] [varchar](500) NULL,
	[Candidate_Relation] [varchar](500) NULL,
	[Preferred_Method_of_Communication] [varchar](500) NULL,
	[How_did_you_findout_about_SevenSkiesInternationalSchool] [varchar](500) NULL,
	[Candidate_ReferredBy] [varchar](500) NULL,
	[Candidate_Age] [int] NULL,
	[Candidate_Weight] [varchar](20) NULL,
	[Candidate_Height] [varchar](20) NULL,
	[Candidate_ColorBlind] [varchar](20) NULL,
	[Candidate_BMI] [varchar](20) NULL,
	[Candidate_Swimmer] [varchar](20) NULL,
	[Candidate_Major_Difficulties] [varchar](max) NULL,
	[SourceOfFunding] [varchar](50) NULL,
	[Candidate_WithSpecs] [varchar](50) NULL,
	[Candidate_EyeSightAids] [varchar](50) NULL,
	[Verifiedby] [varchar](500) NULL,
	[Candidate_Stream] [varchar](50) NULL,
	[KnownByAlam] [varchar](500) NULL,
	[ReminderMailStatus] [bit] NULL,
	[PromoteDate] [date] NULL,
CONSTRAINT [PK_Tbl_Candidate_Personal_Det] PRIMARY KEY CLUSTERED 
(
	[Candidate_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

