-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[temp]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[temp](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NEW] [bigint] NULL,
	[FOLLOWUP] [bigint] NULL,
	[APPLIED] [bigint] NULL,
	[NOTQUALIFIED] [bigint] NULL,
	[OFFERLETTERSENT] [bigint] NULL,
	[NOTINTERESTED] [bigint] NULL,
	[WAITINGFORFINALRESULT] [bigint] NULL,
	[NOTDECIDEDINANYCOURSE] [bigint] NULL,
	[NEVERANSWEREMAIL] [bigint] NULL,
	[NEVERANSWERCALL] [bigint] NULL,
	[LEAVEVOICEMESSAGE] [bigint] NULL,
	[WAITINGFORCERTIFICATESDOCUMENTS] [bigint] NULL,
	[WAITINGFORNOCLETTERFORELIGIBILITY] [bigint] NULL,
	[OFFERLETTERBRINGPROCESSBYADMISSION] [bigint] NULL,
	[Totalrecords] [bigint] NULL,
	[Per_NEW] [varchar](max) NULL,
	[Per_FOLLOWUP] [varchar](max) NULL,
	[Per_APPLIED] [varchar](max) NULL,
	[Per_NOTQUALIFIED] [varchar](max) NULL,
	[Per_OFFERLETTERSENT] [varchar](max) NULL,
	[Per_NOTINTERESTED] [varchar](max) NULL,
	[Per_WAITINGFORFINALRESULT] [varchar](max) NULL,
	[Per_NOTDECIDEDINANYCOURSE] [varchar](max) NULL,
	[Per_NEVERANSWEREMAIL] [varchar](max) NULL,
	[Per_NEVERANSWERCALL] [varchar](max) NULL,
	[Per_LEAVEVOICEMESSAGE] [varchar](max) NULL,
	[Per_WAITINGFORCERTIFICATESDOCUMENTS] [varchar](max) NULL,
	[Per_WAITINGFORNOCLETTERFORELIGIBILITY] [varchar](max) NULL,
	[Per_OFFERLETTERBRINGPROCESSBYADMISSION] [varchar](max) NULL,
 CONSTRAINT [PK_temp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

