-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Menu]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[tbl_Menu](
	[menu_Id] [int] IDENTITY(1,1) NOT NULL,
	[menu_Name] [varchar](150) NOT NULL,
	[menu_dtTime] [datetime] NOT NULL,
	[menu_ParentId] [bigint] NULL,
	[menu_ToPage] [varchar](500) NULL,
	[menu_ImageName] [varchar](50) NULL,
	[menu_color] [varchar](50) NULL,
	[menu_description] [varchar](100) NULL,
	[menu_SImage] [varchar](50) NULL,
	[menu_DisplayOrder] [int] NULL,
	[menu_tooltip] [varchar](500) NULL,
	[menu_AndroidImage] [varchar](max) NULL,
	[LeftPannelMenuForAndroit] [varchar](max) NULL,
CONSTRAINT [PK_tbl_Menu] PRIMARY KEY CLUSTERED 
(
	[menu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

-- Insert data only if table exists and is empty
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Menu]') AND type = N'U')
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [dbo].[tbl_Menu])
    BEGIN

    SET IDENTITY_INSERT tbl_Menu ON;


	SET IDENTITY_INSERT tbl_Menu OFF;
    END
END