-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Agent_User]') AND type = N'U')
BEGIN
	CREATE TABLE [dbo].[Tbl_Agent_User](
	[Agent_User_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Agent_Id] [bigint] NULL,
	[User_Id] [bigint] NULL,
CONSTRAINT [PK_Tbl_Agent_User] PRIMARY KEY CLUSTERED 
(
	[Agent_User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

