-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Lead_ContactDetails]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Tbl_Lead_ContactDetails](
	[Cand_ContactDet_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Candidate_Id] [bigint] NOT NULL,
	[Candidate_PermAddress] [varchar](max) NULL,
	[Candidate_ContAddress] [varchar](max) NULL,
	[Candidate_Telephone] [varchar](50) NULL,
	[Candidate_Mob1] [varchar](50) NULL,
	[Candidate_Mob2] [varchar](50) NULL,
	[Candidate_Email] [varchar](50) NULL,
	[Candidate_FatherOcc] [varchar](200) NULL,
	[Candidate_MotherName] [varchar](100) NULL,
	[Candidate_MotherOcc] [varchar](200) NULL,
	[Candidate_FatherQualification] [varchar](200) NULL,
	[Candidate_MotherQualification] [varchar](200) NULL,
	[Candidate_FatherEmail] [varchar](50) NULL,
	[ICPassport] [varchar](50) NULL,
	[PostCode] [varchar](50) NULL,
	[FatherAddress] [varchar](max) NULL,
	[FatherIcNo] [varchar](50) NULL,
	[FatherMobileNo] [varchar](50) NULL,
	[MotherAddress] [varchar](max) NULL,
	[MotherIcNo] [varchar](50) NULL,
	[MotherMobileNo] [varchar](50) NULL,
	[MotherEmail] [varchar](max) NULL,
	[Emergency_Name] [varchar](max) NULL,
	[Emergency_mobile] [varchar](50) NULL,
	[Emergency_relation] [varchar](50) NULL,
	[ParentCTC] [varchar](50) NULL,
	[Candidate_PermAddress_Line2] [varchar](max) NULL,
	[Candidate_PermAddress_postCode] [varchar](max) NULL,
	[Candidate_PermAddress_Country] [bigint] NULL,
	[Candidate_PermAddress_State] [varchar](max) NULL,
	[Candidate_PermAddress_City] [varchar](max) NULL,
	[Candidate_ContAddress_Line2] [varchar](max) NULL,
	[Candidate_ContAddress_postCode] [varchar](max) NULL,
	[Candidate_ContAddress_Country] [bigint] NULL,
	[Candidate_ContAddress_State] [varchar](max) NULL,
	[Candidate_ContAddress_City] [varchar](max) NULL,
	[Emergency_Check_Status] [bit] NULL,
	[Emergency_Parent_IcpassportNo] [varchar](max) NULL,
	[Emergency_Name1] [varchar](max) NULL,
	[Emergency_Relationship] [varchar](max) NULL,
	[Emergency_Mob] [varchar](max) NULL,
	[Emergency_Telephone] [varchar](max) NULL,
	[Emergency_Mail] [varchar](max) NULL,
	[Emergency_Address1] [varchar](max) NULL,
	[Emergency_Address2] [varchar](max) NULL,
	[Emergency_Postcode] [varchar](max) NULL,
	[Emergency_Country] [varchar](max) NULL,
	[Emergency_State] [varchar](max) NULL,
	[Emergency_City] [varchar](max) NULL,
	[Candidate_idNo] [varchar](50) NULL,
	[Candidate_FatherName] [varchar](100) NULL,
	[Candidate_Relationship] [varchar](100) NULL,
	[Candidate_parentAddress2] [varchar](max) NULL,
	[Candidate_Post] [varchar](max) NULL,
	[Candidate_Country] [varchar](max) NULL,
	[Candidate_Sate] [varchar](max) NULL,
	[Candidate_City] [varchar](max) NULL,
	[Guardian_Icpassport] [varchar](max) NULL,
	[Candidate_GuardianName] [varchar](100) NULL,
	[Candidate_Guardian_Mob] [varchar](50) NULL,
	[Candidate_Guardian_Telephone] [varchar](50) NULL,
	[Candidate_Guardian_Email] [varchar](100) NULL,
	[Candidate_Guardian_Address] [varchar](max) NULL,
	[Candidate_Guardian_Relationship] [varchar](max) NULL,
	[Candidate_Guardian_Address2] [varchar](max) NULL,
	[Candidate_Guardian_PostCode] [varchar](max) NULL,
	[Candidate_Guardian_Country] [varchar](max) NULL,
	[Candidate_Guardian_State] [varchar](max) NULL,
	[Candidate_Guardian_City] [varchar](max) NULL,
	[Candidate_Parent_Landline] [varchar](max) NULL,
CONSTRAINT [PK_Tbl_Lead_ContactDetails] PRIMARY KEY CLUSTERED 
(
	[Cand_ContactDet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

