-- Check if the table exists before creating it
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Semester_Subjects]') AND type = N'U')
BEGIN
    CREATE TABLE [dbo].[Tbl_Semester_Subjects](
	[Semester_Subject_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Duration_Mapping_Id] [bigint] NULL,
	[Department_Subjects_Id] [bigint] NULL,
	[Semester_Subjects_Status] [bit] NULL,
	[Department_Id] [bigint] NULL,
 CONSTRAINT [PK_Tbl_Semester_Subjects] PRIMARY KEY CLUSTERED 
(
	[Semester_Subject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

