IF NOT EXISTS (
    SELECT 1 FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[FN_SP_Tbl_Expense_Head_UpdateNew1]') 
    AND type = N'P'
)
BEGIN
    EXEC('
        CREATE PROCEDURE [dbo].[FN_SP_Tbl_Expense_Head_UpdateNew1]              
        (@Acc_Cat_Id bigint,              
         @Expense_Title varchar(100),              
         @Expense_Description varchar(300),              
         @Expense_Amount decimal(18,2),              
         @Expense_Date datetime,              
         @Payment_No varchar(200),                
         @Payment_Date datetime,               
         @Payment_AccountNo varchar(150),                
         @Bank_Name varchar(100),                
         @Bank_Address varchar(300),                
         @Payment_Amount decimal(18,2),                
         @Payment_Mode int,                
         @Payment_Due_Date datetime,                
         @Payee_Name varchar(200),               
         @Grand_Total decimal(18,2),  
         @Expense_Id bigint)              
        AS              
        BEGIN
            DECLARE @intErrorCode INT,              
                    @ApprovalId bigint,              
                    @id bigint,            
                    @InventoryExpenseCode varchar(100),                          
                    @InvoiceCodeStartNo varchar(100),                          
                    @code varchar(100),                          
                    @Invoice_Code_Id bigint,                          
                    @Invoice_Code_Prefix varchar(100),                          
                    @Invoice_Code_Suffix varchar(100),                       
                    @Acc_Cat_Name varchar(150);          

            SET @InventoryExpenseCode = (SELECT TOP 1 Inventory_Invoice_code FROM FN_Tbl_Expense_Head1 ORDER BY Expense_Id DESC);                              
            SET @InvoiceCodeStartNo = (SELECT Invoice_Code_StartNo FROM Tbl_Inventory_Invoice_Code 
                                       WHERE Invoice_Code_Name = ''Expense'' AND Invoice_Code_Current_Status = 1);                               
            SET @code = (SELECT Inventory_Invoice_Code FROM FN_Tbl_Expense_Head1 WHERE Expense_Id = @Expense_Id);                             
            SET @Invoice_Code_Id = (SELECT Invoice_Code_Id FROM Tbl_Inventory_Invoice_Code 
                                    WHERE Invoice_Code_Name = ''Expense'' AND Invoice_Code_Current_Status = 1);                               
            SET @Invoice_Code_Prefix = (SELECT Invoice_Code_Prefix FROM Tbl_Inventory_Invoice_Code                           
                                         WHERE Invoice_Code_Name = ''Expense'' AND Invoice_Code_Current_Status = 1);                           
            SET @Invoice_Code_Suffix = (SELECT Invoice_Code_Suffix FROM Tbl_Inventory_Invoice_Code                           
                                         WHERE Invoice_Code_Name = ''Expense'' AND Invoice_Code_Current_Status = 1);                           

            BEGIN TRAN;     

            UPDATE dbo.FN_Tbl_Expense_Head1 SET Expense_Status = 1 WHERE Expense_Id = @Expense_Id;   
         
            INSERT INTO dbo.FN_Tbl_Expense_Head1              
                (Inventory_Invoice_code, Invoice_Code_Id, Acc_Cat_Id, Expense_Title, 
                 Expense_Description, Expense_Amount, Expense_Date)              
            VALUES              
                (@code, @Invoice_Code_Id, @Acc_Cat_Id, @Expense_Title, @Expense_Description, 
                 @Expense_Amount, @Expense_Date);              
  
            SET @id = SCOPE_IDENTITY();         
  
            EXEC FN_SP_Cancel_Payment_Details1 ''EXPENSE'', @Expense_Id;        
            SELECT @intErrorCode = @@ERROR;                            
            IF (@intErrorCode <> 0) GOTO PROBLEM;        

            SELECT @intErrorCode = @@ERROR;                              
            IF (@intErrorCode <> 0) GOTO PROBLEM;              

            INSERT INTO [FN_Tbl_Payment_Approval_List1]                
                ([Approval_Date],                
                 [Approval_Due_Date],                
                 [Approval_Total_Amount],                
                 [Approval_Balance_Amount],                
                 [Approval_Status],                
                 [Approval_Del_Status])                
            VALUES                
                (GETDATE(),                
                 @Payment_Due_Date,                
                 @Grand_Total,                
                 @Grand_Total - @Payment_Amount,                
                 0,                
                 0);                

            SET @ApprovalId = SCOPE_IDENTITY();                

            SET @Acc_Cat_Name = (SELECT Acc_Cat_Name FROM dbo.FN_Tbl_Head1 WHERE Acc_Cat_Id = @Acc_Cat_Id);            
               
            EXEC FN_SP_Tbl_Payment_Details_Insert1 @ApprovalId, @Payment_Mode, ''EXPENSE'', @id, 0,                
                @Payment_Amount, @Payee_Name, @Payment_Date, @Payment_No, @Payment_AccountNo,                
                @Bank_Name, @Bank_Address, @Acc_Cat_Name;                   

            SELECT @intErrorCode = @@ERROR;                              
            IF (@intErrorCode <> 0) GOTO PROBLEM;                 
                 
            COMMIT TRAN;                                
            RETURN;   

            PROBLEM:                                
            IF (@intErrorCode <> 0) 
            BEGIN                                
                PRINT ''Unexpected error occurred!'';                                
                ROLLBACK TRAN;                
            END
        END
    ')
END
ELSE
BEGIN
EXEC('
            
ALTER procedure [dbo].[FN_SP_Tbl_Expense_Head_UpdateNew1]              
 (@Acc_Cat_Id bigint              
,@Expense_Title varchar(100)              
,@Expense_Description varchar(300)              
,@Expense_Amount decimal(18,2)              
,@Expense_Date datetime              
              
,@Payment_No  varchar(200)                
,@Payment_Date  datetime               
,@Payment_AccountNo varchar(150)                
,@Bank_Name varchar(100)                
,@Bank_Address varchar(300)                
,@Payment_Amount decimal(18,2)                
,@Payment_Mode int                
,@Payment_Due_Date datetime                
,@Payee_Name varchar(200)               
,@Grand_Total decimal(18,2),  
@Expense_Id bigint    
)              
AS              
DECLARE @intErrorCode INT              
DECLARE @ApprovalId bigint              
DECLARE @id bigint              
            
DECLARE @InventoryExpenseCode varchar(100),                          
@InvoiceCodeStartNo varchar(100),                          
@code varchar(100),                          
@Invoice_Code_Id bigint,                          
@Invoice_Code_Prefix varchar(100),                          
@Invoice_Code_Suffix varchar(100),                       
@Acc_Cat_Name varchar(150)          
                            
set @InventoryExpenseCode=(Select top 1 Inventory_Invoice_code From FN_Tbl_Expense_Head1 Order By Expense_Id DESC)                              
set @InvoiceCodeStartNo=(Select Invoice_Code_StartNo From Tbl_Inventory_Invoice_Code WHERE Invoice_Code_Name=''Expense'' and Invoice_Code_Current_Status=1)                               
--set @code=ISNULL(@InventoryExpenseCode+1,@InvoiceCodeStartNo)   
set @code=(select Inventory_Invoice_Code from  FN_Tbl_Expense_Head1 where Expense_Id=@Expense_Id)                             
set @Invoice_Code_Id=(Select Invoice_Code_Id From Tbl_Inventory_Invoice_Code WHERE Invoice_Code_Name=''Expense'' and Invoice_Code_Current_Status=1)                               
set @Invoice_Code_Prefix=(Select Invoice_Code_Prefix From Tbl_Inventory_Invoice_Code                           
WHERE Invoice_Code_Name=''Expense'' and Invoice_Code_Current_Status=1)                           
set @Invoice_Code_Suffix=(Select Invoice_Code_Suffix From Tbl_Inventory_Invoice_Code                           
WHERE Invoice_Code_Name=''Expense'' and Invoice_Code_Current_Status=1)                           
            
              
BEGIN TRAN     
    
UPDATE dbo.FN_Tbl_Expense_Head1 SET Expense_Status= 1  WHERE Expense_Id=@Expense_Id   
         
 INSERT INTO dbo.FN_Tbl_Expense_Head1              
           (Inventory_Invoice_code,Invoice_Code_Id,Acc_Cat_Id,Expense_Title,Expense_Description,Expense_Amount,Expense_Date)              
     VALUES              
           (@code,@Invoice_Code_Id,@Acc_Cat_Id,@Expense_Title,@Expense_Description ,@Expense_Amount,@Expense_Date )              
  
set @id=(SELECT @@IDENTITY)         
  
EXEC FN_SP_Cancel_Payment_Details1 ''EXPENSE'',@Expense_Id        
SELECT @intErrorCode = @@ERROR                            
    IF (@intErrorCode <> 0) GOTO PROBLEM        
              
 SELECT @intErrorCode = @@ERROR                              
 IF (@intErrorCode <> 0) GOTO PROBLEM              
              
 INSERT INTO [FN_Tbl_Payment_Approval_List1]                
       ([Approval_Date]                
       ,[Approval_Due_Date]                
       ,[Approval_Total_Amount]                
       ,[Approval_Balance_Amount]                
       ,[Approval_Status]                
       ,[Approval_Del_Status])                
    VALUES                
       (getdate()                
       ,@Payment_Due_Date                
       ,@Grand_Total                
       ,@Grand_Total-@Payment_Amount                
       ,0                
       ,0)                
 SET @ApprovalId=(Select @@IDENTITY)                
             
set @Acc_Cat_Name=(SELECT Acc_Cat_Name from dbo.FN_Tbl_Head1 where Acc_Cat_Id=@Acc_Cat_Id)            
           
        
 EXEC FN_SP_Tbl_Payment_Details_Insert1 @ApprovalId,@Payment_Mode,''EXPENSE'',@id,0,                
    @Payment_Amount,@Payee_Name,@Payment_Date,@Payment_No,@Payment_AccountNo,                
    @Bank_Name,@Bank_Address ,@Acc_Cat_Name                   
  -- EXEC SP_Tbl_Payment_Details_Insert @ApprovalId,@Payment_Mode,''EXPENSE'',@id,0,                
  -- @Payment_Amount,@Payee_Name,@Payment_Date,@Payment_No,@Payment_AccountNo,                
  --  @Bank_Name,@Bank_Address                  
                
   SELECT @intErrorCode = @@ERROR                              
    IF (@intErrorCode <> 0) GOTO PROBLEM                 
                 
COMMIT TRAN                                
                                
PROBLEM:                                
 IF (@intErrorCode <> 0) BEGIN                                
 PRINT ''Unexpected error occurred!''                                
 ROLLBACK TRAN                
                   
END


')
END
