IF NOT EXISTS (
    SELECT 1 FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[rptLeads2]') 
    AND type = N'P'
)
BEGIN
    EXEC('
        CREATE PROCEDURE [dbo].[rptLeads2]  
(
    @generateBy bigint,
    @startDt datetime=null,
    @endDt datetime=null,
    @orgID tinyint=0,
    @counsellorID bigint=0,
    @sourceName varchar(500)='''',
    @sourceCat varchar(50)='''',
    @leadStageID tinyint=0,
    @pageSize smallint=0,
    @curPage smallint=1,
    @curSheet tinyint=0,
    @generateByName varchar(100)='''',
    @generateByEmail varchar(100)=''''
)    
as    
BEGIN
Declare @rptKeys keyvalue_table,@rowCnt int,
    @curDt date,
    @generateByOrgID tinyint=0,@isTeamLeader tinyint,@isLeader tinyint,@generateByOrgID2 tinyint

SET NOCOUNT ON

Set @curDt=convert(date,getdate())


Insert into @rptKeys values(''Report Code'',''LeadReport'')

If @generateByName<>''''
    Insert into @rptKeys values(''Generated By'',@generateByName)
    
If @startDt is not null or @endDt is not null
    Insert into @rptKeys
    Select ''Filter Date'',
            case when isnull(@startDt,''1900/1/1'')=isnull(@endDt,''2099/12/31'') then convert(varchar(10),@startDt,103)
                when @startDt is not null and @endDt is not null then convert(varchar(10),@startDt,103)+'' to ''+convert(varchar(10),@endDt,103)
                when @startDt is not null then ''Starting from ''+ convert(varchar(10),@startDt,103)
                else ''As at ''+convert(varchar(10),@endDt,103) end
If (@generateBy=0 or @isLeader=1 or @generateByOrgID=0) and @orgID>0
    Insert into @rptKeys
    Select ''Counsellor Team'',
            case when @orgID=1 then ''JARR'' when @orgID=2 then ''MAIC'' when @orgID=3 then ''MCS'' when @orgID=4 then ''MURC Sw'' when @orgID=5 then ''MISKL''
                when @orgID=6 then ''MACS'' when @orgID=7 then ''MURC Klang'' when @orgID=8 then ''CRPO''
                else '''' end
If (@generateBy=0 or @isLeader=1) and @counsellorID>0
    Insert into @rptKeys
    Select ''Counsellor'',trim(concat(trim(Employee_FName),'' '',trim(Employee_LName))) From Tbl_Employee Where Employee_Id=@counsellorID
If isnull(@sourceName,'''')<>''''
    Insert into @rptKeys Select ''Source'',@sourceName
If isnull(@sourceCat,'''')<>''''
    Insert into @rptKeys Select ''Source Category'',@sourceCat
If @leadStageID>0
    Insert into @rptKeys
    Select ''Lead Stage'',leadStageName From MDSDEV.dbo.rLeadStage Where leadStageID=@leadStageID


Select @generateByOrgID=orgID,@isTeamLeader=isTeamLeader,@isLeader=isLeader,@generateByOrgID2=orgID2 From Tbl_SPOrg Where counsellorEmail=@generateByEmail
Select @generateByOrgID2=isnull(@generateByOrgID2,0)

Create table #tmpLead(candidateID bigint primary key,sourceCat varchar(20))

If @generateBy=0 or @isLeader=1 or @generateByOrgID=0
Begin
    If @orgID>0
    Insert into #tmpLead
    Select Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_Lead_Personal_Det cpd
        inner join Tbl_Employee ec on cpd.CounselorEmployee_id=ec.Employee_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,RegDate)>=@startDt and convert(date,RegDate)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,RegDate)<dateadd(day,1,@endDt))    
                or (convert(date,RegDate)>=@startDt and @endDt is null)
            )
        and Employee_Mail in
                (Select counsellorEmail From Tbl_SPOrg Where orgID=@orgID)
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
        and (isnull(@counsellorID,0)<1 or CounselorEmployee_id=@counsellorID)
    UNION
    Select fd.Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_FollowUpLead_Detail fd
        inner join Tbl_Lead_Personal_Det cpd on fd.Candidate_Id=cpd.Candidate_Id
        inner join Tbl_Employee ec on cpd.CounselorEmployee_id=ec.Employee_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,Followup_Date)>=@startDt and convert(date,Followup_Date)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,Followup_Date)<dateadd(day,1,@endDt))    
                or (convert(date,Followup_Date)>=@startDt and @endDt is null)
            )
        and Employee_Mail in
                (Select counsellorEmail From Tbl_SPOrg Where orgID=@orgID)
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
        and (isnull(@counsellorID,0)<1 or CounselorEmployee_id=@counsellorID)
    Group by fd.Candidate_Id,cpd.Source_name,cpd.sourceCategory
    Else
    Insert into #tmpLead
    Select Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_Lead_Personal_Det cpd
    Where Candidate_DelStatus=0
        and
            (
            convert(date,RegDate)>=@startDt and convert(date,RegDate)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,RegDate)<dateadd(day,1,@endDt))    
                or (convert(date,RegDate)>=@startDt and @endDt is null)
            )
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
        and (isnull(@counsellorID,0)<1 or CounselorEmployee_id=@counsellorID)
        --and CounselorEmployee_id%2=0
    UNION
    Select fd.Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_FollowUpLead_Detail fd
        inner join Tbl_Lead_Personal_Det cpd on fd.Candidate_Id=cpd.Candidate_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,Followup_Date)>=@startDt and convert(date,Followup_Date)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,Followup_Date)<dateadd(day,1,@endDt))    
                or (convert(date,Followup_Date)>=@startDt and @endDt is null)
            )
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
        and (isnull(@counsellorID,0)<1 or CounselorEmployee_id=@counsellorID)
        --and CounselorEmployee_id%2=0
    Group by fd.Candidate_Id,cpd.Source_name,cpd.sourceCategory
End
Else If @isTeamLeader=1
Begin
    Insert into #tmpLead
    Select Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_Lead_Personal_Det cpd
        inner join Tbl_Employee ec on cpd.CounselorEmployee_id=ec.Employee_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,RegDate)>=@startDt and convert(date,RegDate)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,RegDate)<dateadd(day,1,@endDt))    
                or (convert(date,RegDate)>=@startDt and @endDt is null)
            )
        and Employee_Mail in
            (Select counsellorEmail From Tbl_SPOrg Where orgID in (@generateByOrgID,@generateByOrgID2))
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
    UNION
    Select fd.Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_FollowUpLead_Detail fd
        inner join Tbl_Lead_Personal_Det cpd on fd.Candidate_Id=cpd.Candidate_Id
        inner join Tbl_Employee ec on cpd.CounselorEmployee_id=ec.Employee_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,Followup_Date)>=@startDt and convert(date,Followup_Date)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,Followup_Date)<dateadd(day,1,@endDt))    
                or (convert(date,Followup_Date)>=@startDt and @endDt is null)
            )
        and Employee_Mail in
            (Select counsellorEmail From Tbl_SPOrg Where orgID in (@generateByOrgID,@generateByOrgID2))
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
    Group by fd.Candidate_Id,cpd.Source_name,cpd.sourceCategory
End
Else
Begin
    Insert into #tmpLead
    Select Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_Lead_Personal_Det cpd
    Where Candidate_DelStatus=0
        and
            (
            convert(date,RegDate)>=@startDt and convert(date,RegDate)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,RegDate)<dateadd(day,1,@endDt))    
                or (convert(date,RegDate)>=@startDt and @endDt is null)
            )
        and CounselorEmployee_id=@generateBy
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
    UNION
    Select fd.Candidate_Id,
        case when cpd.Source_name like ''%reutili%'' then ''Reutilization''
            when cpd.Source_name like ''%partnership%'' then ''Partnership''
            when cpd.Source_name like ''%call%'' and cpd.Source_name like ''%cent%'' then ''Call Centre''
            when cpd.Source_name like ''%call in%'' then ''Call In''
            when cpd.Source_name like ''%walk in%'' then ''Walk In''
            when cpd.Source_name like ''%Referral%'' then ''Referral''
            when cpd.Source_name like ''%Agent%'' then ''Agent''
            when cpd.Source_name like ''%Staff%'' then ''MAHSA Staff''
            when cpd.Source_name like ''%Whatsapp%'' then ''Whatsapp''
            when cpd.Source_name like ''%Website%'' then ''Website Enquiry''
            when cpd.Source_name like ''%EVENTBRITE%'' then ''EVENTBRITE''
            when cpd.Source_name like ''%event%'' then ''Event''
            when cpd.Source_name like ''%upu%'' then ''UPU''
            when cpd.Source_name like ''%stpm%'' then ''STPM''
            when cpd.Source_name like ''%hot%'' and cpd.Source_name like ''%tips%'' then ''SPM Hot Tips''
            when cpd.Source_name like ''%spm%'' then ''SPM''
            when cpd.Source_name like ''%open%'' and cpd.Source_name like ''%day%'' then ''Open Day''
            when cpd.Source_name like ''%yes2malaysia%'' then ''Education Fair''
            when cpd.Source_name like ''%star%'' and cpd.Source_name like ''%penang%'' then ''Education Fair''
            when cpd.Source_name like ''%edu%'' and cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%fair%'' then ''Education Fair''
            when cpd.Source_name like ''%study%'' and cpd.Source_name like ''%malaysia%'' then ''Email Enquiries''
            when cpd.Source_name like ''%email%'' then ''Email Enquiries''
            when cpd.Source_name like ''%fb%'' or cpd.Source_name like ''%facebook%'' then ''FB Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''facebook'' then ''FB Landing Page''
            when cpd.Source_name like ''%instagram%'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' and cpd.sourcecategory=''instagram'' then ''IG Landing Page''
            when cpd.Source_name like ''%zzupe%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%landingi%'' then ''Zzupe Landing Page''
            when cpd.Source_name like ''%POI%'' then ''Point Of Interest''
            when cpd.Source_name like ''%info day%'' then ''Open Day''
            when cpd.Source_name like ''%ce%'' then ''CE''
            when cpd.Source_name like ''%sql%'' then ''SQL''
            when cpd.Source_name like ''%road%'' then ''Event''
            else ''SPM'' end sourceCat
    From Tbl_FollowUpLead_Detail fd
        inner join Tbl_Lead_Personal_Det cpd on fd.Candidate_Id=cpd.Candidate_Id
    Where Candidate_DelStatus=0
        and
            (
            convert(date,Followup_Date)>=@startDt and convert(date,Followup_Date)<dateadd(day,1,@endDt)
                or (@startDt is null and @endDt is null)    
                or (@startDt is null and convert(date,Followup_Date)<dateadd(day,1,@endDt))    
                or (convert(date,Followup_Date)>=@startDt and @endDt is null)
            )
        and cpd.CounselorEmployee_id=@generateBy
        and (isnull(@sourceName,'''')='''' or isnull(Source_name,'''') like ''%''+@sourceName+''%'')
    Group by fd.Candidate_Id,cpd.Source_name,cpd.sourceCategory
End

--Delete #tmpLead Where candidateID%2=0


If @pageSize>0 and @curSheet=0
    Set @curSheet=1


If @curSheet in (1,0)
Begin
    If @pageSize=0
    Begin
        Select fcpd.candidateID e_LeadID,
            trim(concat(trim(CPD.Candidate_Fname),'' '',trim(CPD.Candidate_Lname))) [Full Name],CPD.AdharNumber [NRIC/Passport],
            case when cpd.Candidate_Dob is null then null else datediff(year,cpd.Candidate_Dob,@curDt) end [Age],
            CC.Candidate_Mob1 [Contact No],CC.Candidate_Email Email,
            case when isnull(N.Nationality,'''')<>'''' then N.Nationality
                when Scolorship_Remark like ''%Nationality:%'' and charindex('' , '',Scolorship_Remark,charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))<1
                    then substring(Scolorship_Remark,
                        (charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:'')),
                        999)
                when Scolorship_Remark like ''%Nationality:%''
                    then substring(Scolorship_Remark,
                        (charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))
                        -(charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))))
                    else '''' end Nationality,
            case when Scolorship_Remark like ''%Course Opted :%'' and charindex('' , '',Scolorship_Remark,charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))<1
                    then substring(Scolorship_Remark,
                        (charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :'')),
                        999)
                when Scolorship_Remark like ''%Course Opted :%''
                    then substring(Scolorship_Remark,
                        (charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))
                        -(charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))))
                when Scolorship_Remark like ''%Target Progression:%'' and charindex(''; '',Scolorship_Remark,charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:''))<1
                    then trim(substring(Scolorship_Remark,
                        (charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')),
                        999))
                when Scolorship_Remark like ''%Target Progression:%''
                    then trim(substring(Scolorship_Remark,
                        (charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')),
                        (charindex(''; '',Scolorship_Remark,charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:''))
                        -(charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')))))
                    else Scolorship_Remark end [Opted Programme],
            case when Scolorship_Remark like ''%Highest Qualification Level:%''
                    then substring(Scolorship_Remark,
                        (charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:''))
                        -(charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:''))))
                    else '''' end [Qualification Level],
            case when isnull(CPD.Page_Id,0) in (0) Then ''Landing'' else pg.LandingiURL_Name end [Page Name],
            CPD.Source_name [Source],sourceCat [Source Category],
            isnull(leadStageName,'''') [Lead Stage],
            case when CPD.ApplicationStatus in (''Lead'',''rejected'') Then CPD.ApplicationStatus
                else ''Moved To Enquiry'' end [Application Status],
            case when CPD.ApplicationStatus=''rejected'' then CPD.Reject_remark else '''' end [Reject Reason],
            CPD.Scolorship_Remark Remark,
            concat(trim(EC.Employee_FName),'' '',trim(EC.Employee_LName)) Counsellor,
            case isnull(eco.orgID,0) when 1 then ''JARR'' when 2 then ''MAIC'' when 3 then ''MCS'' when 4 then ''MURC Sw'' when 5 then ''MISKL''
                when 6 then ''MACS'' when 7 then ''MURC Klang'' when 8 then ''CRPO'' else '''' end [Counsellor Team],
            lcl.startDtim [Counsellor Change DateTime],
            concat(trim(pec.Employee_FName),'' '',trim(pec.Employee_LName)) [Previous Counsellor],
            convert(date,RegDate) [Lead Reg Date],
                convert(time,RegDate) [Lead Reg Time],
            convert(date,FD1.Followup_Date) [First Follow-Up Date],
                convert(time,FD1.Followup_time) [First Follow-Up Time],
                FD1.Remarks [First Follow-Up Remark],FD1.Respond_Type [First Follow-Up Response Type],
            convert(date,FD.Followup_Date) [Latest Follow-Up Date],
                convert(time,FD.Followup_time) [Latest Follow-Up Time],
                FD.Remarks [Latest Follow-Up Remark],FD.Respond_Type [Latest Follow-Up Response Type],
                convert(date,FD.Next_Date) [Latest Next Follow-Up Date]
        From #tmpLead fcpd
            inner join Tbl_Lead_Personal_Det CPD on fcpd.candidateID=CPD.Candidate_id
            inner join Tbl_Employee EC on EC.Employee_Id=CPD.CounselorEmployee_id
            left join Tbl_SPOrg eco on EC.Employee_Id=eco.counsellorID
            left join Tbl_Lead_ContactDetails CC on CPD.Candidate_Id=CC.Candidate_Id
            left join Tbl_Nationality N on CPD.Candidate_Nationality=N.Nationality_Id
            left join MDSDEV.dbo.vLeadLatestStage sfs on cpd.Candidate_Id=sfs.leadID and sfs.recordTypeID=1
            left join
                (Select Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUpLead_Detail
                Where isnull(Delete_Status,0)=0
                    and Follow_Up_Detail_Id in
                        (Select min(Follow_Up_Detail_Id)
                        From Tbl_FollowUpLead_Detail fud inner join #tmpLead fcpd on fud.Candidate_Id=fcpd.candidateID
                        Where isnull(Delete_Status,0)=0
                        Group by fud.Candidate_Id)
                    and Action_Taken=0
                UNION
                Select fcpd.Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUp_Detail fud
                    inner join
                        (Select min(Follow_Up_Detail_Id) Follow_Up_Detail_Id,ocpd.Candidate_Id
                        From Tbl_FollowUp_Detail fud
                            inner join 
                                (Select Moved_id candidateID,Candidate_Id
                                From Tbl_Lead_Personal_Det cpd
                                    inner join #tmpLead fcpd on cpd.Candidate_Id=fcpd.candidateID
                                Where isnull(moved_Id,0)>0) ocpd on fud.Candidate_Id=ocpd.candidateID
                        Where isnull(Delete_Status,0)=0
                        Group by ocpd.Candidate_Id) fcpd on fud.Follow_Up_Detail_Id=fcpd.Follow_Up_Detail_Id
                Where isnull(Delete_Status,0)=0
                    and Action_Taken=0  
                ) FD1 on CPD.Candidate_Id=FD1.Candidate_Id
            left join
                (Select Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUpLead_Detail
                Where isnull(Delete_Status,0)=0
                    and Follow_Up_Detail_Id in
                        (Select max(Follow_Up_Detail_Id)
                        From Tbl_FollowUpLead_Detail fud inner join #tmpLead fcpd on fud.Candidate_Id=fcpd.candidateID
                        Where isnull(Delete_Status,0)=0
                            and (@endDt is null or Followup_Date<=@endDt)
                        Group by fud.Candidate_Id)
                    and Action_Taken=0
                UNION
                Select fcpd.Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUp_Detail fud
                    inner join
                        (Select max(Follow_Up_Detail_Id) Follow_Up_Detail_Id,ocpd.Candidate_Id
                        From Tbl_FollowUp_Detail fud
                            inner join 
                                (Select Moved_id candidateID,Candidate_Id
                                From Tbl_Lead_Personal_Det cpd
                                    inner join #tmpLead fcpd on cpd.Candidate_Id=fcpd.candidateID
                                Where isnull(moved_Id,0)>0) ocpd on fud.Candidate_Id=ocpd.candidateID
                        Where isnull(Delete_Status,0)=0
                            and (@endDt is null or Followup_Date<=@endDt)
                        Group by ocpd.Candidate_Id) fcpd on fud.Follow_Up_Detail_Id=fcpd.Follow_Up_Detail_Id
                Where isnull(Delete_Status,0)=0
                    and Action_Taken=0
                ) FD on CPD.Candidate_Id=FD.Candidate_Id
            left join Tbl_LandingiURL pg on CPD.Page_Id=LandingiURL_Id
            left join Tbl_LeadAssign lcl on CPD.Candidate_Id=lcl.Candidate_Id and lcl.isLatest=1
            left join Tbl_LeadAssign lcp on CPD.Candidate_Id=lcp.Candidate_Id and lcp.isPrev=1
            left join Tbl_Employee pec on lcp.CounselorEmployee_id=pec.Employee_Id
        Where (isnull(@sourceCat,'''')='''' or fcpd.sourceCat=@sourceCat)
        Order by [Lead Reg Date] desc,e_LeadID desc
        Set @rowCnt=@@ROWCOUNT
    End
    Else
    Begin
        Select fcpd.candidateID e_LeadID,
            trim(concat(trim(CPD.Candidate_Fname),'' '',trim(CPD.Candidate_Lname))) [Full Name],CPD.AdharNumber [NRIC/Passport],
            case when cpd.Candidate_Dob is null then null else datediff(year,cpd.Candidate_Dob,@curDt) end [Age],
            CC.Candidate_Mob1 [Contact No],CC.Candidate_Email Email,
            case when isnull(N.Nationality,'''')<>'''' then N.Nationality
                when Scolorship_Remark like ''%Nationality:%'' and charindex('' , '',Scolorship_Remark,charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))<1
                    then substring(Scolorship_Remark,
                        (charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:'')),
                        999)
                when Scolorship_Remark like ''%Nationality:%''
                    then substring(Scolorship_Remark,
                        (charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))
                        -(charindex(''Nationality:'',Scolorship_Remark)+len(''Nationality:''))))
                    else '''' end Nationality,
            case when Scolorship_Remark like ''%Course Opted :%'' and charindex('' , '',Scolorship_Remark,charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))<1
                    then substring(Scolorship_Remark,
                        (charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :'')),
                        999)
                when Scolorship_Remark like ''%Course Opted :%''
                    then substring(Scolorship_Remark,
                        (charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))
                        -(charindex(''Course Opted :'',Scolorship_Remark)+len(''Course Opted :''))))
                when Scolorship_Remark like ''%Target Progression:%'' and charindex(''; '',Scolorship_Remark,charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:''))<1
                    then trim(substring(Scolorship_Remark,
                        (charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')),
                        999))
                when Scolorship_Remark like ''%Target Progression:%''
                    then trim(substring(Scolorship_Remark,
                        (charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')),
                        (charindex(''; '',Scolorship_Remark,charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:''))
                        -(charindex(''Target Progression:'',Scolorship_Remark)+len(''Target Progression:'')))))
                    else Scolorship_Remark end [Opted Programme],
            case when Scolorship_Remark like ''%Highest Qualification Level:%''
                    then substring(Scolorship_Remark,
                        (charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:'')),
                        (charindex('' , '',Scolorship_Remark,charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:''))
                        -(charindex(''Highest Qualification Level:'',Scolorship_Remark)+len(''Highest Qualification Level:''))))
                    else '''' end [Qualification Level],
            case when isnull(CPD.Page_Id,0) in (0) Then ''Landing'' else pg.LandingiURL_Name end [Page Name],
            CPD.Source_name [Source],sourceCat [Source Category],
            isnull(leadStageName,'''') [Lead Stage],
            case when CPD.ApplicationStatus in (''Lead'',''rejected'') Then CPD.ApplicationStatus
                else ''Moved To Enquiry'' end [Application Status],
            case when CPD.ApplicationStatus=''rejected'' then CPD.Reject_remark else '''' end [Reject Reason],
            CPD.Scolorship_Remark Remark,
            concat(trim(EC.Employee_FName),'' '',trim(EC.Employee_LName)) Counsellor,
            case isnull(eco.orgID,0) when 1 then ''JARR'' when 2 then ''MAIC'' when 3 then ''MCS'' when 4 then ''MURC Sw'' when 5 then ''MISKL''
                when 6 then ''MACS'' when 7 then ''MURC Klang'' when 8 then ''CRPO'' else '''' end [Counsellor Team],
            lcl.startDtim [Counsellor Change DateTime],
            concat(trim(pec.Employee_FName),'' '',trim(pec.Employee_LName)) [Previous Counsellor],
            convert(date,RegDate) [Lead Reg Date],
                convert(time,RegDate) [Lead Reg Time],
            convert(date,FD1.Followup_Date) [First Follow-Up Date],
                convert(time,FD1.Followup_time) [First Follow-Up Time],
                FD1.Remarks [First Follow-Up Remark],FD1.Respond_Type [First Follow-Up Response Type],
            convert(date,FD.Followup_Date) [Latest Follow-Up Date],
                convert(time,FD.Followup_time) [Latest Follow-Up Time],
                FD.Remarks [Latest Follow-Up Remark],FD.Respond_Type [Latest Follow-Up Response Type],
                convert(date,FD.Next_Date) [Latest Next Follow-Up Date]
        Into #tmp1
        From #tmpLead fcpd
            inner join Tbl_Lead_Personal_Det CPD on fcpd.candidateID=CPD.Candidate_id
            inner join Tbl_Employee EC on EC.Employee_Id=CPD.CounselorEmployee_id
            left join Tbl_SPOrg eco on EC.Employee_Id=eco.counsellorID
            left join Tbl_Lead_ContactDetails CC on CPD.Candidate_Id=CC.Candidate_Id
            left join Tbl_Nationality N on CPD.Candidate_Nationality=N.Nationality_Id
            left join MDSDEV.dbo.vLeadLatestStage sfs on cpd.Candidate_Id=sfs.leadID and sfs.recordTypeID=1
            left join
                (Select Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUpLead_Detail
                Where isnull(Delete_Status,0)=0
                    and Follow_Up_Detail_Id in
                        (Select min(Follow_Up_Detail_Id)
                        From Tbl_FollowUpLead_Detail fud inner join #tmpLead fcpd on fud.Candidate_Id=fcpd.candidateID
                        Where isnull(Delete_Status,0)=0
                        Group by fud.Candidate_Id)
                    and Action_Taken=0
                UNION
                Select fcpd.Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUp_Detail fud
                    inner join
                        (Select min(Follow_Up_Detail_Id) Follow_Up_Detail_Id,ocpd.Candidate_Id
                        From Tbl_FollowUp_Detail fud
                            inner join 
                                (Select Moved_id candidateID,Candidate_Id
                                From Tbl_Lead_Personal_Det cpd
                                    inner join #tmpLead fcpd on cpd.Candidate_Id=fcpd.candidateID
                                Where isnull(moved_Id,0)>0) ocpd on fud.Candidate_Id=ocpd.candidateID
                        Where isnull(Delete_Status,0)=0
                        Group by ocpd.Candidate_Id) fcpd on fud.Follow_Up_Detail_Id=fcpd.Follow_Up_Detail_Id
                Where isnull(Delete_Status,0)=0
                    and Action_Taken=0
                ) FD1 on CPD.Candidate_Id=FD1.Candidate_Id
            left join
                (Select Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUpLead_Detail
                Where isnull(Delete_Status,0)=0
                    and Follow_Up_Detail_Id in
                        (Select max(Follow_Up_Detail_Id)
                        From Tbl_FollowUpLead_Detail fud inner join #tmpLead fcpd on fud.Candidate_Id=fcpd.candidateID
                        Where isnull(Delete_Status,0)=0
                            and (@endDt is null or Followup_Date<=@endDt)
                        Group by fud.Candidate_Id)
                    and Action_Taken=0
                UNION
                Select fcpd.Candidate_Id,Next_Date,Respond_Type,Followup_Date,Followup_time,Remarks
                From Tbl_FollowUp_Detail fud
                    inner join
                        (Select max(Follow_Up_Detail_Id) Follow_Up_Detail_Id,ocpd.Candidate_Id
                        From Tbl_FollowUp_Detail fud
                            inner join 
                                (Select Moved_id candidateID,Candidate_Id
                                From Tbl_Lead_Personal_Det cpd
                                    inner join #tmpLead fcpd on cpd.Candidate_Id=fcpd.candidateID
                                Where isnull(moved_Id,0)>0) ocpd on fud.Candidate_Id=ocpd.candidateID
                        Where isnull(Delete_Status,0)=0
                            and (@endDt is null or Followup_Date<=@endDt)
                        Group by ocpd.Candidate_Id) fcpd on fud.Follow_Up_Detail_Id=fcpd.Follow_Up_Detail_Id
                Where isnull(Delete_Status,0)=0
                    and Action_Taken=0
                ) FD on CPD.Candidate_Id=FD.Candidate_Id
            left join Tbl_LandingiURL pg on CPD.Page_Id=LandingiURL_Id
            left join Tbl_LeadAssign lcl on CPD.Candidate_Id=lcl.Candidate_Id and lcl.isLatest=1
            left join Tbl_LeadAssign lcp on CPD.Candidate_Id=lcp.Candidate_Id and lcp.isPrev=1
            left join Tbl_Employee pec on lcp.CounselorEmployee_id=pec.Employee_Id
        Where (isnull(@sourceCat,'''')='''' or fcpd.sourceCat=@sourceCat)
        Order by [Lead Reg Date] desc,e_LeadID desc
    
        Select @rowCnt=count(*) From #tmp1

        Select * From #tmp1
        Order by [Lead Reg Date] desc,e_LeadID desc
        Offset (@curPage-1)*@pageSize rows
        Fetch next @pageSize rows only
        
        Drop table #tmp1
    End

    Insert into @rptKeys values(''Sheet Title'',''Lead List'')
    Insert into @rptKeys values(''Sheet Code'',''leads'')

    Select *,case when [key] in (''Report Code'',''Sheet Code'',''Sheet Title'',''Total Record'') then 1 when [key]=''Generated By'' then 2 else 3 end keygroup From @rptKeys
    UNION ALL
    Select ''Total Record'',cast(isnull(@rowCnt,0) as varchar(20)),1
    Order by keygroup,[key]
End


If @curSheet in (2,0)
Begin
    If @pageSize=0
    Begin
        Select fu.Follow_Up_Detail_Id logID,fcpd.candidateID e_LeadID,
            trim(concat(trim(isnull(CPD.Candidate_Fname,'''')),'' '',trim(isnull(CPD.Candidate_Lname,'''')))) [Full Name],
            convert(date,Followup_Date) [Follow-Up Date],
                convert(time,Followup_time) [Follow-Up Time],[Medium],Remarks Remark,Respond_Type [Response Type],
            convert(date,Next_Date) [Next Follow-Up Date],
            trim(concat(trim(isnull(EC.Employee_FName,'''')),'' '',trim(isnull(EC.Employee_LName,'''')))) Counsellor
        From #tmpLead fcpd
            inner join Tbl_Lead_Personal_Det CPD on fcpd.candidateID=CPD.Candidate_id
            inner join Tbl_FollowUpLead_Detail fu on fcpd.candidateID=fu.Candidate_id
            inner join Tbl_Employee EC on fu.Counselor_Employee=EC.Employee_Id  
        Where isnull(fu.Delete_Status,0)=0
            and (@endDt is null or Followup_Date<=@endDt)
        Order by e_LeadID desc,[Follow-Up Date],[Follow-Up Time]
        Set @rowCnt=@@ROWCOUNT
    End
    Else
    Begin
        Select fu.Follow_Up_Detail_Id logID,fcpd.candidateID e_LeadID,
            trim(concat(trim(isnull(CPD.Candidate_Fname,'''')),'' '',trim(isnull(CPD.Candidate_Lname,'''')))) [Full Name],
            convert(date,Followup_Date) [Follow-Up Date],
                convert(time,Followup_time) [Follow-Up Time],[Medium],Remarks Remark,Respond_Type [Response Type],
            convert(date,Next_Date) [Next Follow-Up Date],
            trim(concat(trim(isnull(EC.Employee_FName,'''')),'' '',trim(isnull(EC.Employee_LName,'''')))) Counsellor
        Into #tmp2
        From #tmpLead fcpd
            inner join Tbl_Lead_Personal_Det CPD on fcpd.candidateID=CPD.Candidate_id
            inner join Tbl_FollowUpLead_Detail fu on fcpd.candidateID=fu.Candidate_id
            inner join Tbl_Employee EC on fu.Counselor_Employee=EC.Employee_Id  
        Where isnull(fu.Delete_Status,0)=0
            and (@endDt is null or Followup_Date<=@endDt)
        Order by e_LeadID desc,[Follow-Up Date],[Follow-Up Time]
    
        Select @rowCnt=count(*) From #tmp2

        Select * From #tmp2
        Order by e_LeadID desc,[Follow-Up Date],[Follow-Up Time]
        Offset (@curPage-1)*@pageSize rows
        Fetch next @pageSize rows only

        Drop table #tmp2
    End


    Delete @rptKeys Where [key] in (''Sheet Title'',''Sheet Code'')
    Insert into @rptKeys values(''Sheet Title'',''Lead Follow-Ups'')
    Insert into @rptKeys values(''Sheet Code'',''followups'')

    Select *,case when [key] in (''Report Code'',''Sheet Code'',''Sheet Title'',''Total Record'') then 1 when [key]=''Generated By'' then 2 else 3 end keygroup From @rptKeys
    UNION ALL
    Select ''Total Record'' [key],cast(isnull(@rowCnt,0) as varchar(20)) [value],1
    Order by keygroup,[key]
End

Drop table #tmpLead
/*
exec rptLeads 1
exec rptLeads 1,null,null,10,1,1
exec rptLeads 1,null,null,10,2,1
exec rptLeads 1,''2021/1/1'',''2021/3/31''
exec rptLeads 1,''2021/1/1'',''2021/3/31'',10,1,1
exec rptLeads 1,''2021/1/1'',''2021/12/17'',10,2,1
exec rptLeads 1,''2021/1/1'',''2021/12/17'',10,3,1
exec rptLeads 1,''2021/1/1'',''2021/12/17'',10,1,2
exec rptLeads 966,''2022/6/1'',''2022/6/30'',10,1,1,''Kassim''
exec rptLeads 1714,''2022/6/1'',''2022/6/30'',10,1,1,''Farah''
exec rptLeads 966,''2022/6/1'',''2022/6/30'',0,1,1,''Kassim''
exec rptLeads 966,''2022/6/1'',''2022/6/30'',0,1,1,''Kassim''
exec rptLeads 1322,''2022/6/1'',''2022/6/30'',0,1,1,''Krishna''
exec rptLeads 840,''2022/6/1'',''2022/6/30'',0,1,1,''Zafisah''
*/
END
    ')
END
