IF NOT EXISTS (
    SELECT 1 FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[SP_Get_NationalityId]') 
    AND type = N'P'
)
BEGIN
    EXEC('
       CREATE procedure [dbo].[SP_Get_NationalityId] --Afghan
(
@Nationality Varchar(MAX)
) 
as  
begin   
select * from Tbl_Nationality where Nationality=@Nationality
end
    ')
END
