IF NOT EXISTS (
    SELECT 1 FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[SP_Tbl_Purchase_Return_Update]') 
    AND type = N'P'
)
BEGIN
    EXEC('
        CREATE procedure [dbo].[SP_Tbl_Purchase_Return_Update]     
 @Purchase_return_Id  bigint            
,@Purchase_Return_Code bigint            
,@Inventory_Purchase_Id bigint            
,@Purchase_Return_Comment varchar(350)            
,@Inventory_Purchase_Code bigint            
,@Purchase_Return_CreatedDate datetime            
,@Purchase_Return_LastUpdatedDate datetime            
,@Purchase_Return_DelStatus bit            
,@ProductXml xml         
,@Payment_Mode int      
,@Payment_Due_Date datetime      
,@Payee_Name varchar(200)      
,@Payment_No  varchar(200)      
,@Payment_Date  datetime      
,@Payment_AccountNo varchar(150)      
,@Bank_Name varchar(100)      
,@Bank_Address varchar(300)      
,@Payment_Amount decimal(18,2)      
,@Grand_Total decimal(18,2)             
,@StoreName varchar(100)      
AS            
            
DECLARE @intErrorCode INT              
DECLARE @XML AS XML            
DECLARE @id bigint             
declare @product_ID bigint            
          
declare @InventoryPurchaseCode varchar(100),            
@InvoiceCodeStartNo varchar(100),            
@code varchar(100),            
@Invoice_Code_Prefix varchar(100),            
@Invoice_Code_Suffix varchar(100),            
@Invoice_Code_ID bigint,      
@storeCategory int      
      
          
SET @storeCategory = (SELECT Store_Category FROM dbo.Tbl_Inventory_Purchase      
  WHERE Inventory_Purchase_Id = @Inventory_Purchase_Id )        
set @InventoryPurchaseCode=(Select tOP 1 Purchase_Return_Code From   dbo.Tbl_Purchase_Return           
ORDER BY Purchase_return_Id  DESC)            
set @InvoiceCodeStartNo=(Select Invoice_Code_StartNo From Tbl_Inventory_Invoice_Code             
WHERE Invoice_Code_Name=''Purchase Return'' and Invoice_Code_Current_Status=1)             
set @Invoice_Code_Prefix=(Select Invoice_Code_Prefix From Tbl_Inventory_Invoice_Code             
WHERE Invoice_Code_Name=''Purchase Return'' and Invoice_Code_Current_Status=1)             
set @Invoice_Code_Suffix=(Select Invoice_Code_Suffix From Tbl_Inventory_Invoice_Code             
WHERE Invoice_Code_Name=''Purchase Return'' and Invoice_Code_Current_Status=1)             
             
set @code=ISNULL(@InventoryPurchaseCode+1,@InvoiceCodeStartNo)            
             
set @Invoice_Code_ID =(Select Invoice_Code_Id From Tbl_Inventory_Invoice_Code             
WHERE Invoice_Code_Name=''Purchase Return'' and Invoice_Code_Current_Status=1)            
          
          
BEGIN TRAN      
          
UPDATE Tbl_Purchase_Return SET Purchase_Return_DelStatus=1 WHERE Purchase_return_Id=@Purchase_return_Id                
        
INSERT INTO [Tbl_Purchase_Return]            
           ([Purchase_Return_Code]            
           ,[Inventory_Purchase_Id]            
           ,[Purchase_Return_Comment]            
           ,[Inventory_Purchase_Code]            
           ,[Purchase_Return_CreatedDate]            
     ,Purchase_Return_LastUpdatedDate            
           ,[Purchase_Return_DelStatus],Invoice_Code_Id          
)            
     VALUES            
           (@Purchase_Return_Code            
           ,@Inventory_Purchase_Id            
           ,@Purchase_Return_Comment            
           ,@Inventory_Purchase_Code            
           ,@Purchase_Return_CreatedDate            
     ,@Purchase_Return_LastUpdatedDate            
           ,@Purchase_Return_DelStatus,          
   @Invoice_Code_ID)            
            
set @id=(SELECT @@IDENTITY)                
          
            
            
 SELECT @intErrorCode = @@ERROR              
    IF (@intErrorCode <> 0) GOTO PROBLEM                 
                
SELECT @XML = @ProductXml              
            
UPDATE Tbl_Purchase_Return_Products SET  Return_Product_Del_Status=1 WHERE Purchase_return_Id=@Purchase_return_Id         
           
INSERT INTO dbo.Tbl_Purchase_Return_Products            
            
           (Purchase_return_Id            
   ,[Product_Id]             
   ,Return_Product_Quantity            
   ,Return_Product_Price               
   ,Return_Product_TotalPrice,UnitID          
)            
                           
            
SELECT @id as Purchase_return_Id,               
            
M.Item.query(''./Product_Id'').value(''.'',''bigint'') Product_Id,               
M.Item.query(''./Return_Product_Quantity'').value(''.'',''int'') Return_Product_Quantity,             
M.Item.query(''./Return_Product_Price'').value(''.'',''decimal(18,2)'') Return_Product_Price,                
M.Item.query(''./Return_Product_TotalPrice'').value(''.'',''decimal(18,2)'') Return_Product_TotalPrice ,            
   M.Item.query(''./UnitID'').value(''.'',''bigint'') UnitID            
FROM @XML.nodes(''/DocumentElement/Products'')  AS M(Item)             
      
               
 SELECT @intErrorCode = @@ERROR              
    IF (@intErrorCode <> 0) GOTO PROBLEM           
       
          
IF (@storeCategory<>1)        
  BEGIN       
    
UPDATE Tbl_Product_Stocks SET Product_Stock_DelStatus=1 WHERE InvoiceCode=      
(SELECT dbo.GetInvoiceCodeById_Code((SELECT Invoice_Code_Id FROM Tbl_Purchase_Return WHERE Purchase_return_Id=@Purchase_return_Id),(SELECT Purchase_Return_Code FROM Tbl_Purchase_Return WHERE Purchase_return_Id=@Purchase_return_Id)))               
     
  INSERT INTO Tbl_Product_Stocks                  
       ([InvoiceCode]                  
       ,[Product_Stock_DtTime]                             
       ,[Product_Stock_Type]                  
       ,[Product_Stock_DelStatus]                
       ,[Product_Stock_Profit_Loss]                  
       ,[Product_Current_Stock]                  
       ,[Product_Id]        
    ,[Product_Stock_Total_Price])                     
                       
  SELECT @Invoice_Code_Prefix+@code+@Invoice_Code_Suffix as Invoice_Code,        
  --@Purchase_Return_Code,                  
      getdate() as Product_Stock_DtTime,                  
     ''PURCHASE RETURN'' as Product_Stock_Type,                  
      0 as Product_Stock_DelStatus,                  
      1 as Product_Stock_Profit_Loss,            
     (M.Item.query(''./Return_Product_Quantity'').value(''.'',''int''))*(dbo.GetUnitConversion((M.Item.query(''./Product_Id'').value(''.'',''bigint'')),(M.Item.query(''./UnitID'').value(''.'',''bigint'')))) as Product_Current_Stock,                           
      M.Item.query(''./Product_Id'').value(''.'',''bigint'') Product_Id  ,        
      M.Item.query(''./Return_Product_TotalPrice'').value(''.'',''decimal(18,2)'') as   Product_Stock_Total_Price         
              
  FROM @XML.nodes(''/DocumentElement/Products'')  AS M(Item)            
              
              
  SELECT @intErrorCode = @@ERROR              
   IF (@intErrorCode <> 0) GOTO PROBLEM              
 END      
ELSE      
 BEGIN      
    
UPDATE Tbl_Asset_Stocks SET Product_Stock_DelStatus=1 WHERE InvoiceCode=      
(SELECT dbo.GetInvoiceCodeById_Code((SELECT Invoice_Code_Id FROM Tbl_Purchase_Return WHERE Purchase_return_Id=@Purchase_return_Id),(SELECT Purchase_Return_Code FROM Tbl_Purchase_Return WHERE Purchase_return_Id=@Purchase_return_Id)))               
    
    
  INSERT INTO dbo.Tbl_Asset_Stocks (      
   InvoiceCode      
   ,Product_Id      
   ,Product_Stock_DtTime      
   ,Product_Current_Stock      
   ,Product_Stock_Total_Price      
   ,Product_Stock_Type      
   ,Product_Stock_Profit_Loss      
   ,Product_Stock_DelStatus)      
         
SELECT  @Invoice_Code_Prefix+@code+@Invoice_Code_Suffix as Invoice_Code,      
 M.Item.query(''./Product_Id'').value(''.'',''bigint'') Product_Id ,      
 getdate() as Product_Stock_DtTime,        
 (M.Item.query(''./Return_Product_Quantity'').value(''.'',''int''))*(dbo.GetUnitConversion((M.Item.query(''./Product_Id'').value(''.'',''bigint'')),(M.Item.query(''./UnitID'').value(''.'',''bigint'')))) as Product_Current_Stock,      
 M.Item.query(''./Return_Product_TotalPrice'').value(''.'',''decimal(18,2)'') as   Product_Stock_Total_Price ,        
 ''PURCHASE RETURN'' as Product_Stock_Type,      
 1 as Product_Stock_Profit_Loss,      
0 as Product_Stock_DelStatus      
FROM @XML.nodes(''/DocumentElement/Products'')  AS M(Item)      
      
SELECT @intErrorCode = @@ERROR            
   IF (@intErrorCode <> 0) GOTO PROBLEM      
 END      
  
EXEC SP_Cancel_Payment_Details ''PURCHASE RETURN'',@Purchase_return_Id    
SELECT @intErrorCode = @@ERROR                        
    IF (@intErrorCode <> 0) GOTO PROBLEM     
      
--DECLARE  @Payment_Details_Id bigint,@Approval_Id bigint,@Payment_Details_Mode int,@Payment_Details_Mode_Id bigint        
--SET @Payment_Details_Id=(SELECT Payment_Details_Id FROM Tbl_Payment_Details  WHERE Payment_Details_Particulars=''PURCHASE RETURN'' and Payment_Details_Particulars_Id=@Purchase_return_Id)                      
--SET @Approval_Id=(SELECT Approval_Id FROM Tbl_Payment_Details WHERE Payment_Details_Id=@Payment_Details_Id)        
--SET @Payment_Details_Mode=(SELECT Payment_Details_Mode FROM Tbl_Payment_Details  WHERE Payment_Details_Id=@Payment_Details_Id)        
--SET @Payment_Details_Mode_Id=(SELECT Payment_Details_Mode_Id FROM Tbl_Payment_Details  WHERE Payment_Details_Id=@Payment_Details_Id)        
--        
--UPDATE Tbl_Payment_Details SET Payment_Details_Del_Status=1 WHERE Payment_Details_Id=@Payment_Details_Id        
--UPDATE Tbl_Payment_Approval_List SET Approval_Del_Status=1 WHERE Approval_Id=@Approval_Id         
--IF(@Payment_Details_Mode=1)        
--BEGIN        
--UPDATE Tbl_Payment_Cash_Register SET Cash_Register_Status=1 WHERE Cash_Register_Id=@Payment_Details_Mode_Id        
--UPDATE Tbl_Payment_Cash_Book SET Cash_Book_Status=1 WHERE Payment_Details_Id=@Payment_Details_Id        
--END        
--ELSE IF(@Payment_Details_Mode=2)        
--BEGIN        
--UPDATE Tbl_Payment_Cheque_Register SET Cheque_Register_Del_Status=1 WHERE Cheque_Register_Id=@Payment_Details_Mode_Id        
--UPDATE Tbl_Payment_Bank_Book SET Bank_Book_Status=1 WHERE Payment_Details_Id=@Payment_Details_Id        
--END        
--ELSE IF(@Payment_Details_Mode=3)        
--BEGIN        
--UPDATE Tbl_Payment_DD_Register SET DD_Register_Status=1 WHERE DD_Register_Id=@Payment_Details_Mode_Id        
--UPDATE Tbl_Payment_Bank_Book SET Bank_Book_Status=1 WHERE Payment_Details_Id=@Payment_Details_Id        
--END        
    
      
DECLARE @ApprovalId bigint        
        
INSERT INTO [Tbl_Payment_Approval_List]        
           ([Approval_Date]        
           ,[Approval_Due_Date]        
           ,[Approval_Total_Amount]        
           ,[Approval_Balance_Amount]        
           ,[Approval_Status]        
           ,[Approval_Del_Status])        
     VALUES        
           (getdate()        
           ,@Payment_Due_Date        
           ,@Grand_Total        
           ,@Grand_Total-@Payment_Amount        
           ,0        
           ,0)        
SET @ApprovalId=(Select @@IDENTITY)        
        
EXEC SP_Tbl_Payment_Details_Insert @ApprovalId,@Payment_Mode,''PURCHASE RETURN'',@id,0,@Payment_Amount,@Payee_Name,@Payment_Date,@Payment_No,@Payment_AccountNo,@Bank_Name,@Bank_Address            
                
                      
SELECT @intErrorCode = @@ERROR                        
    IF (@intErrorCode <> 0) GOTO PROBLEM                       
                      
SELECT @id                        
      
      
      
 COMMIT TRAN              
              
PROBLEM:              
IF (@intErrorCode <> 0) BEGIN              
    ROLLBACK TRAN              
            
END      
    ')
END
