-- IF NOT EXISTS (
--     SELECT 1 FROM sys.objects 
--     WHERE object_id = OBJECT_ID(N'[dbo].[SP_Update_RoomId]') 
--     AND type = N'P'
-- )
-- BEGIN
--     EXEC('
--        CREATE procedure [dbo].[SP_Update_RoomId]   
-- @Class_TimeTableId bigint,   
-- @RoomId bigint   
-- As          
-- Begin        
        
-- UPDATE Tbl_Class_TimeTable  
-- SET Room_Id=@RoomId  where  Class_TimeTable_Id = @Class_TimeTableId      
-- END
--     ')
-- END
