IF NOT EXISTS (
    SELECT 1 FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[dbo].[targetmarketdetail]') 
    AND type = N'P'
)
BEGIN
    EXEC('
        CREATE procedure [dbo].[targetmarketdetail] as  
begin  
select * from Target_market_temp;  
end
    ')
END;
GO
